<div class="container my-posts">
    <!-- Create new event -->
    <div class="row my-5">
        <div class="col-md-7 p-3 p-lg-5 pt-lg-3">
            <div class="my-posts__img"></div>
        </div>
        <div class="col-md-5 p-3 p-lg-5 pt-lg-3 my-posts__btn-container">
            <a href="{% url 'add_event' %}">
                <button type="button" class="btn btn-outline-green btn-md px-4 me-sm-3 fw-bold">Create new events
                </button>
            </a>
        </div>
    </div>

    <hr>

    <!-- User's events -->
    <h4 class="text-center page-header">My Events</h4>
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
        {% for event in events %}
            {% if event.is_paid %}
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <!-- Event title -->
                    <h5 class="card-title card-content__title my-3 fw-bolder">{{ event.title }}</h5>

                    <!-- Event description -->
                    <p class="card-text text-muted">{{ event.description }}</p>

                    <!-- Event category -->
                    <p class="pt-2"><span class="badge card-content__badge">{{ event.event_category }}</span></p>

                    <!-- Event details -->
                    <div class="py-3">
                        {% if event.event_date %}
                            <div class="card-content__key fw-bolder">
                                <p>Date:</p>
                            </div>
                            <div class="card-content__value">
                                <p>{{ event.event_date }}</p>
                            </div>
                        {% else %}
                            <div style="display: block;"></div>
                        {% endif %}
                        {% if event.event_time %}
                            <div class="card-content__key fw-bolder">
                                <p>Time:</p>
                            </div>
                            <div class="card-content__value">
                                <p>{{ event.event_time }}</p>
                            </div>
                        {% else %}
                            <div style="display: block;"></div>
                        {% endif %}
                        {% if event.event_location %}
                            <div class="card-content__key fw-bolder">
                                <p>Location:</p>
                            </div>
                            <div class="card-content__value">
                                <p>{{ event.event_location }}</p>
                            </div>
                        {% else %}
                            <div style="display: block;"></div>
                        {% endif %}
                        <div class="card-content__key fw-bolder">
                            <p>Price:</p>
                        </div>
                        <div class="card-content__value">
                            <p>{{ event.event_price }}</p>
                        </div>
                        <div class="card-content__key fw-bolder">
                            <p>Contact:</p>
                        </div>
                        <div class="card-content__value">
                            <p>{{ event.event_contact }}</p>
                        </div>
                    </div>

                    <!-- Card buttons -->
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'event_detail' event.id %}">View</a></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'edit_event' event.id %}">Edit</a></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"><a data-bs-target="#modalDeleteEvent{{ event.id }}" data-bs-toggle="modal">Delete</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal delete event -->
        <div class="modal fade" id="modalDeleteEvent{{ event.id }}" tabindex="-1" aria-labelledby="modelDeleteEventLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fw-bolder" id="modelDeleteEventLabel">Delete event</h5>
                        <button type="button" class="btn-close btn-outline-green" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body my-4">
                        Are you sure you want to delete the event <span class="text-purple-custom fw-bolder">"{{ event.title }}"</span>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-green" data-bs-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_event' event.id %}" class="btn btn-green">Yes, delete event</a>
                    </div>
                </div>
            </div>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>