{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h2 class="text-center page-header-bg">{{ event.title }}</h2>
{% endblock %}

{% block content %}
<div class="container event-detail">
    <div class="row">

        <!-- Event description -->
        <div class="col-12 col-md-10 offset-md-2 text-muted my-4">
            {{ event.description }}
        </div>

        <!-- Event category -->
        <div class="col-12 col-md-10 offset-md-2 my-4">
            <h4><span class="badge card-content__badge">{{ event.event_category }}</span></h4>
        </div>

        <!-- Event details -->
        <div class="col-12 col-md-10 py-3 offset-md-2">
            {% if event.event_date %}
            <div class="card-content__key fw-bolder">
                <p>Date:</p>
            </div>
            <div class="card-content__value">
                <p>{{ event.event_date }}</p>
            </div>
            {% else %}
            <div style="display: block;"></div>
            {% endif %}
            {% if event.event_time %}
            <div class="card-content__key fw-bolder">
                <p>Time:</p>
            </div>
            <div class="card-content__value">
                <p>{{ event.event_time }}</p>
            </div>
            {% else %}
            <div style="display: block;"></div>
            {% endif %}
            {% if event.event_location %}
            <div class="card-content__key fw-bolder">
                <p>Location:</p>
            </div>
            <div class="card-content__value">
                <p>{{ event.event_location }}</p>
            </div>
            {% else %}
            <div style="display: block;"></div>
            {% endif %}
            <div class="card-content__key fw-bolder">
                <p>Price:</p>
            </div>
            <div class="card-content__value">
                <p>{{ event.event_price }}</p>
            </div>
            <div class="card-content__key fw-bolder">
                <p>Contact:</p>
            </div>
            <div class="card-content__value">
                <p>{{ event.event_contact }}</p>
            </div>
        </div>

        {% if request.user.is_authenticated %}
            {% if event.user != user_db %}
                <div class="d-flex justify-content-between align-items-center my-4 offset-md-2">
                    <div class="btn-group">
                        <a href="{% url 'edit_event' event.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                        <a href=""><button type="button" class="btn btn-sm btn-outline-secondary">Delete</button></a>
                    </div>
                </div>
                <div class="col-12 col-md-10 offset-md-1 text-center mt-4 mb-3 event-detail__return">
                    <p class="pt-2"><i class="fas fa-undo-alt text-purple-custom"></i><a href="{% url 'profile' %}"> Return to profile</a></p>
                </div>
            {% else %}
                <div class="col-12 col-md-10 offset-md-1 text-center mt-4 mb-3 event-detail__return">
                    <p class="pt-2"><i class="fas fa-undo-alt text-purple-custom"></i><a href="{% url 'profile' %}"> Return to profile</a></p>
                </div>
            {% endif %}
        {% else %}
            <div class="col-12 col-md-10 offset-md-1 text-center mt-4 mb-3 event-detail__return">
                <p class="pt-2"><i class="fas fa-undo-alt text-purple-custom"></i><a href="{% url 'home' %}"> Return to home</a></p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}