{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Hero -->
    <section class="text-secondary pe-4 pb-5 text-center hero">
        <div id="triangle-badge">
            <span class="fw-bolder">Only €1 per post!</span>
        </div>
        <div class="pb-5">
            <h1 class="display-5 fw-bold text-white">Our Neighbourhood:
                <div>Drimnagh</div>
            </h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">Enabling communities to share and promote local events, activities, services and
                    businesses.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'add_event' %}"><button type="button" class="btn btn-outline-green btn-lg px-4 me-sm-3 fw-bold">Create event</button></a>
                    {% else %}
                        <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-outline-green btn-lg px-4 me-sm-3 fw-bold">Sign up</button></a>
                        <a href="{% url 'account_login' %}"><button type="button" class="btn btn-outline-light btn-lg px-4">Log in</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
