<div class="row">
    <div class="col-12 p-3 p-lg-5 pt-lg-3 form-custom my-profile__form">
        <h4 class="text-dark fw-bolder fs-5 pt-4">Settings</h4>
        <div class="account-settings">
            <p class="pt-2"><i class="fas fa-envelope text-purple-custom pe-2"></i><a href="{% url 'account_email' %}"> Change email address</a></p>
            <p class="pt-2"><i class="fas fa-lock text-purple-custom pe-2"></i><a href="{% url 'account_change_password' %}"> Change Password</a></p>
            <p class="pt-2"><i class="fas fa-trash-alt text-purple-custom pe-2"></i><a href="submit-btn anchors" data-bs-target="#modalDeactiveAccount" data-bs-toggle="modal"> Deactivate account</a></p>
        </div>
    </div>
</div>

<!--Modal delete account-->
<div class="modal fade" id="modalDeactiveAccount" tabindex="-1" aria-labelledby="modalDeactiveAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bolder" id="modalDeactiveAccountLabel">Deactivate account</h5>
                <button type="button" class="btn-close btn-outline-green" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body my-4">
                Are you sure you want to deactivate your account?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-green" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_profile' request.user.username %}" class="btn btn-green">Yes, deactivate account</a>
            </div>
        </div>
    </div>
</div>

