<form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row form-custom">
        <!-- Profile picture-->
        <div id="order-2" class="col-md-5 p-3 p-lg-5 pt-lg-3 my-profile__image">
            {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" alt="User Profile Pic">
            {% else %}
            <img src="{{ MEDIA_URL }}default-profile-pic.png" alt="Default Profile Pic">
                {% endif %}
            {{ form.profile_pic|as_crispy_field }}
        </div>
        <!-- User information -->
        <div id="order-1" class="col-md-7 p-3 p-lg-5 pt-lg-3">
            <h4 class="text-dark fw-bolder fs-5 pt-4">My details</h4>
                <div class="form-group">
                    {{ form.full_name|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.bio|as_crispy_field }}
                </div>
            <button type="submit" class="mt-4">Update profile</button>
        </div>

    </div>
</form>

