<div class="row">
    <div id="order-2" class="col-md-5 p-3 p-lg-5 pt-lg-3 my-profile__image">
        {% if profile.img_url %}
            <img src="{{ profile.img_url }}" alt="User Profile Pic" class="mt-5">
        {% else %}
        <a id="example" href="#" data-bs-toggle="tooltip" title="" data-bs-placement="bottom" data-bs-original-title="Change profile picture">
            <img src="{{ MEDIA_URL }}default-profile-pic.png" alt="Default Profile Pic" class="mt-5">
        </a>
        {% endif %}
    </div>
    <div id="order-1" class="col-md-7 p-3 p-lg-5 pt-lg-3 form-custom my-profile__form">
        <h4 class="text-dark fw-bolder fs-5 mt-5">My details</h4>
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button>Update profile</button>
        </form>

        <div class="account-settings">
            <h4 class="text-dark fw-bolder fs-5 mt-5">Settings</h4>
            <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
            <p><a href="submit-btn anchors" data-bs-target="#exampleModal" data-bs-toggle="modal">Deactive
                account</a></p>
        </div>
    </div>

</div>

<!--Modal delete account-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'delete_profile' request.user.username %}" class="btn btn-primary">Deactive account</a>
            </div>
        </div>
    </div>
</div>

