{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block page_header %}
<h2 class="text-center page-header-bg">Hello, {{ profile.user }}</h2>
{% endblock %}

{% block content %}

<!-- Profile -->
<!--Design inspired by https://themes.getbootstrap.com/preview/?theme_id=85897-->
<div class="container my-profile">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active fw-bolder" id="home-tab" data-bs-toggle="tab" data-bs-target="#account" type="button"
                    role="tab" aria-controls="account" aria-selected="true">Account
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bolder" id="profile-tab" data-bs-toggle="tab" data-bs-target="#posts" type="button"
                    role="tab" aria-controls="posts" aria-selected="false">Posts
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fw-bolder" id="contact-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                    role="tab" aria-controls="settings" aria-selected="false">Settings
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <!-- My details -->
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
            {% include './profile-details.html' %}
        </div>
        <!-- My posts -->
        <div class="tab-pane fade" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            {% include './profile-posts.html' %}
        </div>
        <!-- Settings -->
        <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
            {% include './profile-settings.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script src="{% static 'profiles/js/bootstrapInit.js' %}"></script>
{% endblock %}