#authentication {
  display: flex;
  flex-direction: column;
}

.auth-left-panel {
    background-color: $sec-colour;
    height: 100%;

  &__img {
    background: url('/media/bg-auth.png') no-repeat center center;
    background-size: contain;
    min-height: 21rem;

    @include bp(tablet) {
      min-height: 35rem;
    }
  }
}

.authentication-link {
  a {
    color: $sec-colour;
    text-decoration: none;

    &:hover {
      color: $sec-colour;
    }
  }

}