#authentication {
  display: flex;
  flex-direction: column;
}

.auth-left-panel {
  background-color: $sec-colour;

  @include bp(tablet) {
    height: 70vh;
  }

  @include bp(desktop) {
    height: 120vh;
  }


  &__img {
    background: url('/media/bg-auth.png') no-repeat center center;
    background-size: contain;
    min-height: 21rem;

    @include bp(tablet) {
      min-height: 20rem;
    }

    @include bp(desktop) {
      min-height: 35rem;
    }
  }
}

.authentication-link {
  a {
    color: $sec-colour;
    text-decoration: none;

    &:hover {
      color: $sec-colour;
    }
  }
}

.login-or {
    text-transform: uppercase;
    font-weight: 600; /* fw-bolder */
}