.event-detail {
  max-width: 70vw;

  @include bp(tablet) {
    &__wrapper {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &__buttons {
    a {
      text-decoration: none;
      color: #212529; /* text-dark */

    }
  }

  .return-to-events {
    a {
      text-decoration: none;
      color: #212529; /* text-dark */
    }

    &:hover {
      color: $prim-colour;
    }
  }
}

//Events
.filter-search {
  &__filter-btn {
    padding: .375rem 1rem;
    font-size: 1rem;
    position: relative;

    span {
      padding-left: 1rem;
    }
  }

  .dropdown-toggle::after {
    margin-left: 1rem;
  }
}