.hero {
  background-color: $prim-colour;
  position: relative;

  //Source https://codepen.io/martinjkelly/pen/vEOBvL
  #triangle-badge {
    width: 0;
    height: 0;
    border-top: 9rem solid #fd7e14;
    border-right: 13rem solid transparent;

    span {
      position: absolute;
      top: 1.8rem;
      width: 5rem;
      left: 1.5rem;
      text-align: center;
      transform: rotate(325deg);
      display: block;
      color: #fff;
    }
  }
}

//Pagination home page
.page-link {
  color: $prim-colour;

  &:hover {
    color: $sec-colour;
  }
}

.page-item.active .page-link {
  background-color: $prim-colour;
  border-color: $prim-colour;
  color: #fff;
}

//Faq
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: $sec-colour;
}

.accordion-button:focus {
  border-color: $prim-colour;
  box-shadow: 0 0 0 0.25rem rgb($prim-colour, 0.25);
}
