.my-profile {
  border: .1rem solid rgba($gray, .3);

  .nav-tabs,
  .nav-link {
    .active {
      color: $sec-colour;
    }

    &:hover,
    &:focus,
    &:active {
      color: $sec-colour;
    }
  }

  &__image {
    text-align: center;

    img {
      max-width: 10%;
      height: auto;
      min-width: 15rem;
      cursor: pointer;
      border-radius: 50%;
      display: inline-block;
      margin: 2%;
      box-sizing: border-box;
    }

  }
}

.account-settings {
  a {
    text-decoration: none;
    color: #212529; /* text-dark */

    &:hover {
      color: $prim-colour;
    }
  }
}

#order-1 {
  @include bp(tablet) {
    order: 1;
  }
}

#order-2 {
  @include bp(tablet) {
    order: 2;
  }
}

.modal-footer {
  justify-content: center;
}

.my-details-content {
  display: block;
}

// Hide image path from profile picture
.controls {
  color: #fff;

  & > label {
    display: none;
  }

  a,
  #profile_pic-clear_id,
  #profile_pic-clear_id label {
    display: none;
  }

  #id_profile_pic {
    font-size: 0.9rem;
    background-color: transparent;
    padding: 0;
    width: 13rem;
  }

}

#div_id_profile_pic {
  & > label {
    display: none;
  }
}