@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Lora:100,200,300,400,500,600,700&display=swap");
.hero {
  background-color: #5710b2;
}

.navbar i {
  margin-right: 0.5rem;
}

.list-unstyled a {
  color: black;
  text-decoration: none;
}
.list-unstyled a:hover {
  text-decoration: underline;
}

#footer-brand a {
  color: rgba(87, 16, 178, 0.8);
}
#footer-brand a:hover {
  color: #5710b2;
}

.footer {
  margin: 3rem 0 1.5rem 0;
}

.menu {
  font-size: 0.9rem;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1rem;
}
.menu a {
  text-decoration: none;
}
.menu a:hover {
  color: #20D489;
}
@media (min-width: 48rem) {
  .menu {
    margin-bottom: 0;
  }
}

.menu-sub {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
}

.menu-item {
  display: block;
  padding: 0;
}
.menu-item .menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  flex: 0 0 100%;
  transition: none;
}

#authentication {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.authentication-link a {
  color: #20D489;
  text-decoration: none;
}
.authentication-link a:hover {
  color: #20D489;
}

.allauth-inner-content p {
  margin-top: 1.5rem;
  /* mt-4 */
}
.allauth-inner-content input {
  background-color: rgba(108, 117, 125, 0.1);
  border-color: rgba(108, 117, 125, 0.05);
  color: #6c757d;
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: 0.825rem 1.5rem;
  border-radius: 0.3rem;
}
.allauth-inner-content label:not([for=id_remember]) {
  padding-top: 1.25rem;
  /* pt-4 */
  font-weight: 600;
  /* fw-bolder */
}
.allauth-inner-content input::placeholder {
  color: rgba(108, 117, 125, 0.5);
}
.allauth-inner-content .control-group {
  margin: 0.75rem 0;
}
.allauth-inner-content .checkboxinput {
  margin: 0.75rem 0;
}
.allauth-inner-content .primaryAction-wrapper {
  margin: 1rem 0;
}
.allauth-inner-content .secondaryAction {
  color: #20D489;
  text-decoration: none;
  font-weight: 600;
  /* fw-bolder */
}
.allauth-inner-content button,
.allauth-inner-content input[type=submit] {
  /* btn standard bootstrap */
  color: #fff;
  background-color: #20D489;
  border: 1px solid transparent;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
  /* standard bootstrap btn transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.allauth-inner-content button:hover,
.allauth-inner-content input[type=submit]:hover {
  background-color: #fff;
  border: 0.12rem solid #20D489;
  color: #212529;
}

* {
  margin: 0;
}

body,
footer {
  font-family: "Poppins", sans-serif;
}

.page-header {
  margin: 3rem 0;
}

.btn-green {
  border-color: #20D489;
  color: #20D489;
}
.btn-green:hover {
  background-color: #20D489;
}

.text-green-custom {
  color: #20D489;
}

.text-purple-custom {
  color: #5710b2;
}

.text-gray-custom {
  color: #6c757d;
}

/*# sourceMappingURL=style.css.map */
