@import "variables";
@import "index";
@import "navbar";

//
// General Styling
//
* {
  margin: 0;
}

body,
footer {
  font-family: $paragraph;
}

//Heading
.page-header {
  margin: 3rem 0;
}

//Buttons
.btn-green {
  border-color: $sec-colour;
  color: $sec-colour;

  &:hover {
    background-color: $sec-colour;
  }
}
