@import "variables";
@import "index";
@import "navbar";
@import "footer";
@import "form";
@import "profile";
@import "authentication";
@import "toast";
@import "card";
@import "event";
@import "checkout";
@import "admin";

//
// General Styling
//
* {
  margin: 0;
}

body,
footer {
  font-family: $paragraph;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

//Page header
.page-header-bg {
  width: 100vw;
  margin-bottom: 3rem;
  padding: 2rem 0.2rem 2rem 0.2rem;
  color: white;
  background: linear-gradient(165deg, rgba($prim-colour, .95) 50%, rgba($prim-colour, .75) 100%);
}

.page-header {
  margin: 3rem 0;
}

//Buttons
.btn-outline-green {
  border-color: $sec-colour;
  color: $sec-colour;

  &:hover {
    background-color: $sec-colour;
  }
}

.btn-green {
  border-color: $sec-colour;
  background-color: $sec-colour;
  color: #fff;

  &:hover {
    border-color: $sec-colour;
    background-color: #fff;
  }
}

.btn-outline-sec-colour {
  color: $prim-colour;
  border-color: $prim-colour;

  &:hover {
    color: #fff;
    background-color: $prim-colour;
    border-color: $prim-colour;
  }
}

//Text colour
.text-green-custom {
  color: $sec-colour;
}

.text-purple-custom {
  color: $prim-colour;
}

.text-gray-custom {
  color: $gray;
}

//HR
hr {
  opacity: .15;
}

//Bg colour
.bg-light-gray {
  background-color: rgba($gray, 0.1);
}

//Google Lighthouse instruction to avoid displaying invisible text while the custom font loads
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}