@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Lora:100,200,300,400,500,600,700&display=swap");
.hero {
  background-color: #5710b2;
}

.navbar i {
  margin-right: 0.5rem;
}

.list-unstyled a {
  color: black;
  text-decoration: none;
}
.list-unstyled a:hover {
  text-decoration: underline;
}

#footer-brand a {
  color: rgba(87, 16, 178, 0.8);
}
#footer-brand a:hover {
  color: #5710b2;
}

.footer {
  margin: 3rem 0 1.5rem 0;
}

.menu {
  font-size: 0.9rem;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1rem;
}
.menu a {
  text-decoration: none;
}
.menu a:hover {
  color: #20D489;
}
@media (min-width: 48rem) {
  .menu {
    margin-bottom: 0;
  }
}

.menu-sub {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
}

.menu-item {
  display: block;
  padding: 0;
}
.menu-item .menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  flex: 0 0 100%;
  transition: none;
}

.help-block {
  color: #5710b2;
  font-weight: 300;
}

.form-custom p {
  margin-top: 1.5rem;
  /* mt-4 */
}
.form-custom input {
  background-color: rgba(108, 117, 125, 0.1);
  border-color: rgba(108, 117, 125, 0.05);
  color: #6c757d;
  transition: color 0.2s ease, background-color 0.2s ease;
  padding: 0.825rem 1.5rem;
  border-radius: 0.3rem;
}
.form-custom label:not([for=id_remember]) {
  padding-top: 1.25rem;
  /* pt-4 */
  font-weight: 600;
  /* fw-bolder */
}
.form-custom input::placeholder {
  color: rgba(108, 117, 125, 0.5);
}
.form-custom .control-group {
  margin: 0.75rem 0;
}
.form-custom .checkboxinput {
  margin: 0.75rem 0;
}
.form-custom .primaryAction-wrapper {
  margin: 1rem 0;
}
.form-custom .forgot-password-link {
  color: #20D489;
  text-decoration: none;
  font-weight: 600;
  /* fw-bolder */
  font-size: 0.9rem;
}
.form-custom .btn-outline-sec-colour {
  color: #5710b2;
  border-color: #5710b2;
}
.form-custom .btn-outline-sec-colour:hover {
  color: #fff;
  background-color: #5710b2;
  border-color: #5710b2;
}
.form-custom__align-center {
  text-align: center;
}
.form-custom button,
.form-custom input[type=submit] {
  /* btn standard bootstrap */
  color: #fff;
  background-color: #20D489;
  border: 0.12rem solid transparent;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  /* standard bootstrap btn transitions */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-custom button:hover,
.form-custom input[type=submit]:hover {
  background-color: #fff;
  border: 0.12rem solid #20D489;
  color: #212529;
}
.form-custom .deactivate-account {
  text-decoration: none;
  color: #6c757d;
  /* texted-muted class */
  font-size: 0.9rem;
}
.form-custom .deactivate-account:hover {
  color: #5710b2;
}

.my-profile {
  border: 0.1rem solid rgba(108, 117, 125, 0.3);
}
.my-profile .nav-tabs .active,
.my-profile .nav-link .active {
  color: #20D489;
}
.my-profile .nav-tabs:hover, .my-profile .nav-tabs:focus, .my-profile .nav-tabs:active,
.my-profile .nav-link:hover,
.my-profile .nav-link:focus,
.my-profile .nav-link:active {
  color: #20D489;
}
.my-profile__image {
  text-align: center;
}
.my-profile__image img {
  max-width: 10%;
  height: auto;
  min-width: 15rem;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  margin: 2%;
  box-sizing: border-box;
}

.account-settings a {
  text-decoration: none;
  color: #212529;
  /* text-dark */
}
.account-settings a:hover {
  color: #5710b2;
}

@media (min-width: 48rem) {
  #order-1 {
    order: 1;
  }
}

@media (min-width: 48rem) {
  #order-2 {
    order: 2;
  }
}

.modal-footer {
  justify-content: center;
}

.my-details-content {
  display: block;
}

.controls {
  color: #fff;
}
.controls > label {
  display: none;
}
.controls a,
.controls #profile_pic-clear_id,
.controls #profile_pic-clear_id label {
  display: none;
}
.controls #id_profile_pic {
  font-size: 0.9rem;
  background-color: transparent;
  padding: 0;
  width: 13rem;
}

#div_id_profile_pic > label {
  display: none;
}

#authentication {
  display: flex;
  flex-direction: column;
}

.auth-left-panel {
  background-color: #20D489;
}
@media (min-width: 48rem) {
  .auth-left-panel {
    height: 70vh;
  }
}
@media (min-width: 64rem) {
  .auth-left-panel {
    height: 120vh;
  }
}
.auth-left-panel__img {
  background: url("/media/bg-auth.png") no-repeat center center;
  background-size: contain;
  min-height: 21rem;
}
@media (min-width: 48rem) {
  .auth-left-panel__img {
    min-height: 20rem;
  }
}
@media (min-width: 64rem) {
  .auth-left-panel__img {
    min-height: 35rem;
  }
}

.authentication-link a {
  color: #20D489;
  text-decoration: none;
}
.authentication-link a:hover {
  color: #20D489;
}

.login-or {
  text-transform: uppercase;
  font-weight: 600;
  /* fw-bolder */
}

.message-container {
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 9999999;
}
.message-container .toast {
  background-color: #20D489;
}

* {
  margin: 0;
}

body,
footer {
  font-family: "Poppins", sans-serif;
}

.page-header-bg {
  width: 100vw;
  margin-bottom: 3rem;
  padding: 2rem 0.2rem 2rem 0.2rem;
  color: white;
  background: linear-gradient(165deg, rgba(87, 16, 178, 0.95) 50%, rgba(87, 16, 178, 0.75) 100%);
}

.page-header {
  margin: 3rem 0;
}

.btn-outline-green {
  border-color: #20D489;
  color: #20D489;
}
.btn-outline-green:hover {
  background-color: #20D489;
}

.btn-green {
  border-color: #20D489;
  background-color: #20D489;
  color: #fff;
}
.btn-green:hover {
  border-color: #20D489;
  background-color: #fff;
}

.text-green-custom {
  color: #20D489;
}

.text-purple-custom {
  color: #5710b2;
}

.text-gray-custom {
  color: #6c757d;
}

/*# sourceMappingURL=style.css.map */
