{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}

<h2 class="text-center page-header-bg">{% trans "Account Inactive" %}</h2>

<div id="authentication" class="container form-custom">
    <div class="row pb-0 pe-lg-0">
        <div class="col-12 col-md-10 offset-md-1 form-custom__align-center">
            <p>{% trans "This account is inactive." %}</p>
            <a href="{% url 'home' %}">
                <button type="submit">Back to the site</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
