{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<div id="authentication" class="container form-custom">
    <div class="row pb-0 pe-lg-0">

        <!-- Left panel -->
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 auth-left-panel">

            <!-- Content top-->
            <div class="d-flex pt-lg-40 pt-15 text-center">
                <h3 class="fw-bolder fs-2x text-white lh-lg p-5">Discover your local events, activites, services and
                    business</h3>
            </div>

            <!-- Image bottom -->
            <div class="auth-left-panel__img"></div>
        </div>

        <!-- Right panel -->
        <div class="col-lg-5 position-relative overflow-hidden ps-4 pe-4 d-flex">
            <div class="mx-auto">
                <h2 class="text-center page-header">{% trans "Sign In" %}</h2>

                <p class="text-muted fw-bold authentication-link">{% blocktrans %}New here?
                    <a class="fw-bolder" href="{{ signup_url }}">Create an account</a>{% endblocktrans %}
                </p>

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <p><input class="form-control" type="hidden" name="{{ redirect_field_name }}"
                                  value="{{ redirect_field_value }}"/></p>
                        {% endif %}
                        <div class="primaryAction-wrapper">
                            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                            <a class="button secondaryAction forgot-password-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                    </form>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}

                <div class="socialaccount_ballot">
                    <div class="login-or">{% trans 'or' %}</div>
                    <br>
                    <div class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </div>
                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p class="text-muted fw-bold authentication-link">{% blocktrans %}New here?
                        <a class="fw-bolder" href="{{ signup_url }}">Create an account</a>{% endblocktrans %}
                    </p>
                {% endif %}

            </div>


        </div>
    </div>
</div>
{% endblock %}
