{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner_content %}

<h2 class="text-center page-header-bg">{% trans "Sign Up Closed" %}</h2>

<div id="authentication" class="container-fluid form-custom">
    <div class="row pb-0 pe-lg-0">
        <div class="col-12 form-custom__align-center">
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>

{% endblock %}
