<div class="row">
    <div class="col table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Actions</th>
                <th scope="col">Is paid</th>
                <th scope="col">User</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
                <th scope="col">Contact</th>
                <th scope="col">Category</th>
                <th scope="col">Creation Date</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <th scope="row">{{ event.id }}</th>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-green dropdown-toggle" type="button" id="dropdownMenuEventMgmt"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuEventMgmt">
                            <li><a class="dropdown-item" href="{% url 'edit_event' event.id %}">Edit</a></li>
                            <li><a class="dropdown-item" href="{% url 'delete_event' event.id %}">Delete</a></li>
                            <li><a class="dropdown-item" href="{% url 'mark_as_paid' event.id %}">Mark as paid</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{ event.is_paid }}</td>
                <td>{{ event.user }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.event_date }}</td>
                <td>{{ event.event_time }}</td>
                <td>{{ event.event_location }}</td>
                <td>{{ event.event_price }}</td>
                <td>{{ event.event_contact }}</td>
                <td>{{ event.event_category }}</td>
                <td>{{ event.creation_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>