{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h2 class="text-center page-header-bg">Admin Panel</h2>
{% endblock %}

{% block content %}

<section class="container event-mgmt">
    <div class="my-5">
        <h4 class="mb-3">Contact requests</h4>
        {% include 'includes/contact-requests.html' %}
    </div>

    <hr>

    <div class="my-5">
        <h4 class="mb-3">Event Management</h4>
        {% include 'includes/events-mgmt.html' %}
    </div>

</section>

{% endblock %}