{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block inner_content %}

<h2 class="text-center page-header-bg">{% trans "Social Network Login Failure" %}</h2>

<div id="authentication" class="container-fluid form-custom">
  <div class="row pb-0 pe-lg-0">
    <div class="col-12 form-custom__align-center">
        <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
        <a href="{% url 'home' %}">
            <button type="submit">Back to the site</button>
        </a>
    </div>
  </div>
</div>



{% endblock %}
